.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.chatPanel {
    display: flex;
    width: 70vw;
    flex-direction: column;
}

.chatHeader {
    display: flex;
    background-color: #145da0;
    align-items: center;
    padding-left: 8px;
    height: 65px;
    flex-shrink: 0;
}

.logo {
    font-size: 34px;
    color: #fff;
    cursor: pointer;
}

.chatContent {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
    width: 100%;
    height: calc(100vh);
    flex-shrink: 1;
    padding: 20px 12px;
    overflow-y: auto;
}

.promptHeader {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.chatBotMessage {
    display: flex;
    align-self: flex-start;
    max-width: 40vw;
    padding: 12px;
    background-color: #88a9c3;
    margin: 10px 0;
    border-radius: 12px;
    font-size: 18px;
}

.chatUserMessage {
    display: flex;
    align-self: flex-end;
    max-width: 40vw;
    padding: 12px;
    background-color: #56aeff;
    margin: 10px 0;
    border-radius: 12px;
    font-size: 18px;
}

.chatInputWrapper {
    background-color: #f4f5f7;
    padding: 0 8px;
    flex-shrink: 0;
}

.chatInput {
    background-color: #fff;
    font-size: 19px;
    height: 40px;
    border-radius: 12px;
    border: #000 solid 2px;
    width: calc(100% - 24px);
    padding: 4px;
    margin: 12px;
}

.ragPanel {
    display: flex;
    width: 30vw;
    flex-direction: column;
}

.ragHeader {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    color: #000;
    font-size: 28px;
    background-color: #56aeff;
}

.ragSubHeader {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #000;
    background-color: #56aeff;
    font-style: italic;
}

.ragContent {
    display: flex;
    flex-direction: column;
    background-color: #5f9ac6;
    height: calc(100vh - 65px - 40px);
    overflow-y: auto;
}

.ragBotMessage {
    background-color: #56aeff;
    width: calc(100% - 40px);
    padding: 12px;
    margin: 0 20px 20px 20px;
    font-size: 18px;
}

.ragUserMessage {
    background-color: #fff;
    font-size: 18px;
    border-radius: 12px;
    border: #000 solid 2px;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px;
}

.ragInputWrapper {
    margin: 16px;
}
