[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-cloud-storage = "*"
google-generativeai = "*"
google-cloud-aiplatform = "*"
pandas = "*"
uvicorn = "*"
python-multipart = "*"
langchain = "*"
llama-index = "*"
llama-index-llms-vertex = "*"
langchain-google-vertexai = "*"
jupyterlab = "*"
ipympl = "*"
notebook = "*"
pytest = "*"
google-cloud-secret-manager = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.12"
