[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
user-agent = "*"
requests = "*"
google-cloud-storage = "*"
google-cloud-translate = "*"
google-generativeai = "*"
google-cloud-aiplatform = ">=1.38"
pandas = "*"
pytest = "*"

[requires]
python_version = "3.9"
